################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Mohitkprofile_Git.slnx/FileContentIndex/12a1eb49-5385-48a2-a0da-1477bd7d4766.vsidx
/.vs/Mohitkprofile_Git.slnx/v18/.wsuo
/.vs/Mohitkprofile_Git.slnx/FileContentIndex/40279171-0d7f-4958-ba2e-82ba814db4df.vsidx
/.vs/Mohitkprofile_Git.slnx/FileContentIndex/e1f5f10c-ce45-4f9c-b230-778b15d64418.vsidx
/.vs/Mohitkprofile_Git.slnx/v18/DocumentLayout.json
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
/.vs/Mohitkprofile_Git.slnx/FileContentIndex/bc3543d6-8a69-457d-a42d-e723f850e316.vsidx
